.article {
    display: grid;
    grid-template-columns: [text-s] 1fr [text-e image-s] 80px [image-e];
    grid-template-rows: [article-s] 20px [article-e title-s] auto [title-e interaction-s] auto [interaction-e];
    gap: 5px 0px;
    &__image {
        grid-column: image-s/image-e;
        grid-row: title-s/title-e;
    }
    &__article {
        grid-column: text-s/text-e;
        grid-row: article-s/article-e;
        font-size: 14px;
        color: $pink;
        align-self: end;
        font-weight: 600;
    }
    &__title {
        grid-column: text-s/text-e;
        grid-row: title-s/title-e;
        font-size: 24px;
        font-weight: 600;
        align-self: center;
    }
    &__interactions {
        grid-column: 1/-1;
        grid-row: interaction-s/interaction-e;
        display: flex;
        gap: 20px;
        border-bottom: 1px solid #8f8f8f;
        padding-bottom: 10px;
        &__comments {
            .fas {
                padding-right: 4px;
            }
        }
        &__likes {
            .fas {
                padding-right: 4px;
            }
        }
    }
}